<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title></title>
</head>
<body>
    我是<%=title%>
    <ul>
        <%for(var i =0;i<result.length;i++){%>
            <li data-aid="<%=result[i].aid%>">
               <a href="/newsContent?aid=<%=result[i].aid%>">
                <%=result[i].title%><span><%=helper.formatTime(result[i].dateline)%></span>
            </a>
            </li>
        <%}%>
    </ul>
</body>
</html>